# macOS
.DS_Store

# VSCode
.vscode

# Compilation
release/
build/
!build/cmake/modules/*

# Python
__pycache__
notebooks
*.ipynb
*.ipynb_checkpoints

# Run outputs
results

# Personal
src/dev*
dev*
images/*.ai
TODO.txt
